<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}{% endblock %} - pinub.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css">
  <script src="{{ url_for('static', filename='basic.js') }}" defer></script>
  {% block style %}{% endblock %}
  <body class="sans-serif black-80 mw7 center mb5">

{% if g.user %}
<header class="w-100 pa3 pv4-ns">
  <nav class="flex justify-between f6 f6 f5-ns">
    <a class="flex items-center link dim black b dib" href="/">Pinub</a>
    <div class="flex items-center">
      <a class="link dim black dib mr3" href="/profile">Profile</a>
      <a class="link dim black dib" href="/signout">Sign Out</a>
    </div>
  </nav>
</header>
{% endif %}

{% block body %}{% endblock %}

  </body>
  <style>
    button {
        cursor: pointer;
    }
  </style>
</html>
