{% extends "_layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
  <h2 class="f2 pt4 ph3">Profile</h2>

    <form class="fl w-100 w-50-ns ph3" method="post">
      <h3 class="f4 mt0">Update Email</h3>
      <div>
        <label class="f6 b db mb2" for="email">Email</label>
        <input class="input-reset ba b--black-20 pa2 db w-100 mb3" id="email" name="email" type="email" placeholder="email@example.com" value="{{ request.form.email or g.user.email }}" required>
      </div>

      <div>
        <button class="f6 dim ph3 pv2 dib white bg-navy bn" type="submit">Update Email</button>
      </div>
    </form>

    <form class="fl w-100 w-50-ns ph3 mt4 mt0-ns" method="post">
      <h3 class="f4 mt0">Update Password</h3>

      <div>
        <label class="f6 b db mb2" for="current_password">Current Password</label>
        <input class="input-reset ba b--black-20 pa2 db w-100 mb3" id="current_password" name="current_password" type="password" value="{{ request.form.current_password }}" required>
      </div>

      <div>
        <label class="f6 b db mb2" for="password">New Password</label>
        <input class="input-reset ba b--black-20 pa2 db w-100 mb3" id="password" name="password" type="password" value="{{ request.form.password }}" required>
      </div>

      <div>
        <label class="f6 b db mb2" for="confirm_password">Confirm New Password</label>
        <input class="input-reset ba b--black-20 pa2 db w-100 mb3" id="confirm_password" name="confirm_password" type="password" value="{{ request.form.confirm_password }}" required>
      </div>

      <div>
        <button class="f6 dim ph3 pv2 dib white bg-navy bn" type="submit">Update Password</button>
      </div>
    </form>


{% endblock %}
