{% extends "_layout.html" %}

{% block title %}Sign In{% endblock %}

{% block body %}
  <form method="post" class="signin">
    <fieldset>
      <legend>Sign In</legend>
      {% if error %}
        <div class="error">{{ error }}</div>
      {% endif %}
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email"{% if error %} class="error"{% endif %} placeholder="email@example.com" value="{{ request.form.email }}" required{% if not request.form.email %} autofocus{% endif %}>
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"{% if error %} class="error"{% endif %} placeholder="password" required{% if request.form.email %} autofocus{% endif %}>
      </div>
    </fieldset>
    <div>
      <button type="submit">Sign In</button>
    </div>
  </form>
{% endblock %}
